<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>AlumnoListado</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link data-th-rel="stylesheet"
			data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link data-th-rel="stylesheet"
			data-th-href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
	</head>
	<body>
		<header class="bg-light text-white text-center py-3">
		<div data-th-replace="~{layouts/header::header}"></div>
		</header>
			
		<div class="container row justify-content-center">
			<main class="col-sm-10 col-sm-offset-2 ">
			<h2>LISTA DE ALUMNOS</h2>
			<table class="table table-striped">
				<thead>
				 	<tr>
				 		<th scope="col">LU</th>
					    <th scope="col">Nombres</th>
					    <th scope="col">Apellido</th>
					    <th scope="col">DNI</th>
					    <th scope="col">Email</th>
					    <th scope="col">Telefono</th>
					    <th scope="col">Fecha de Nac</th>
					    <th scope="col">Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="alumno : ${listadoAlumnos}">
						<td data-th-text="${alumno.lu}"></td>
					    <td data-th-text="${alumno.nombres}"></td>
					    <td data-th-text="${alumno.apellido}"></td>
					    <td data-th-text="${alumno.dni}"></td>
					    <td data-th-text="${alumno.email}"></td>
					    <td data-th-text="${alumno.telefono}"></td>
					    <td data-th-text="${#temporals.format(alumno.fechaNacimiento, 'dd-MM-yyyy')}"></td>
					    <td data-th-text="${alumno.estado}"></td>
					    <td>
					    	<a data-th-href="@{'/eliminarAlumno/'+${alumno.lu}}" class="btn btn-danger">Eliminar</a>
					    	
					    	<a data-th-href="@{'/modificarAlumno/'+${alumno.lu}}" class="btn btn-warning ms-2">Modificar</a>
					    </td>
					 </tr>
				</tbody>
			</table>
	
				
	
			</main>
		</div>
		<footer class="container bg-dark text-white text-center py-3">
	<div data-th-replace="~{layouts/footer::footer}"></div>

	</footer>
	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
		<!-- <script type="text/javascript"
			data-th-href="@{/webjars/bootstrap/js/bootstrap.bundel.min.js}">
		</script> -->
	</body>
</html>